@charset "UTF-8";

:root {
  --primary: #6a06fa;
  --secondary: #ff5958;
  --white: #ffffff;
  --gray: #9e9e9e;
  --black: #000123;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: var(--primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Open Sans, sans-serif;
}

.animation {
  display: flex;
  position: relative;
  height: 100vh;
  background-color: var(--white);
  width: 100%;
  clip-path: circle(0% at 50% 50%);
  animation: body-circle 200000ms linear forwards;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
}

.animation #habiLogo {
  width: 250px;
  height: 250px;
  animation: tiembla 3.5s alternate-reverse 0s;
}

@-webkit-keyframes body-circle {
  2.5%,
  94% {
    -webkit-clip-path: circle(100% at 50% 50%);
    clip-path: circle(100% at 50% 50%);
  }
  97% {
    -webkit-clip-path: circle(0% at 50% 50%);
    clip-path: circle(0% at 50% 50%);
  }
}

@keyframes body-circle {
  2.5%,
  94% {
    -webkit-clip-path: circle(100% at 50% 50%);
    clip-path: circle(100% at 50% 50%);
  }
  97% {
    -webkit-clip-path: circle(0% at 50% 50%);
    clip-path: circle(0% at 50% 50%);
  }
}

@keyframes tiembla {
  0% {
    -webkit-transform: rotateZ(-5deg);
  }
  50% {
    -webkit-transform: rotateZ(0deg) scale(0.8);
  }
  100% {
    -webkit-transform: rotateZ(5deg);
  }
}

.fadeIn {
  animation: 0.5s fadeIn forwards;
}

.fadeOut {
  animation: 0.5s fadeOut forwards;
}

.stepper {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.stepper-buttons {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.stepper-buttons:disabled {
  background-color: #ff5958 !important;
}

.content {
  display: flex;
  align-content: center;
  justify-content: center;
  position: absolute;
  min-height: 86%;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.content-grid {
  display: grid;
  grid-template-columns: 70% 30%;
  align-content: center;
  justify-content: center;
  position: absolute;
  min-height: 86%;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-items: center;
}

.inputCustom {
  width: 300px;
}

.inputCustom label {
  color: var(--primary);
  font-size: 20px;
  padding: 5px;
  margin: 5px;
}

.buttonCustom:disabled {
  background-color: var(--gray) !important;
  color: var(--primary) !important;
}

.buttonCustom {
  background-color: var(--white) !important;
  color: var(--primary) !important;
}

.buttonSkip {
  background-color: var(--secondary) !important;
  color: var(--white) !important;
}

.resume {
  width: max-content;
  min-height: 100px;
  min-width: 28vw;
}

.resume-item label {
  font-size: 25px;
  font-weight: 700;
  color: var(--primary);
}

.resume-item h3 {
  font-size: 20px;
  font-weight: 300;
  color: var(--black);
  margin: 0;
  padding: 0 0 0 5px;
}

.resume-item img {
  padding: 5px 10px 5px 10px;
}

@media screen and (max-width: 1000px) {
  .content-grid {
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute;
    min-height: 86%;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-items: center;
  }

  .resume-rigth {
    display: none;
  }

  .inputCustom {
    width: 150px;
  }

  .MuiStep-horizontal {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
