@charset "UTF-8";

:root {
  --primary: #6a06fa;
  --secondary: #ff5958;
  --white: #ffffff;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  background-color: var(--primary);
}

.animation {
  display: flex;
  position: relative;
  height: 100vh;
  background-color: var(--white);
  width: 100%;
  clip-path: circle(0% at 50% 50%);
  animation: body-circle 200000ms linear forwards;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
}

.animation #habiLogo {
  width: 250px;
  height: 250px;
  animation: tiembla 3.5s alternate-reverse 0s;
}

@-webkit-keyframes body-circle {
  2.5%,
  94% {
    -webkit-clip-path: circle(100% at 50% 50%);
    clip-path: circle(100% at 50% 50%);
  }
  97% {
    -webkit-clip-path: circle(0% at 50% 50%);
    clip-path: circle(0% at 50% 50%);
  }
}

@keyframes body-circle {
  2.5%,
  94% {
    -webkit-clip-path: circle(100% at 50% 50%);
    clip-path: circle(100% at 50% 50%);
  }
  97% {
    -webkit-clip-path: circle(0% at 50% 50%);
    clip-path: circle(0% at 50% 50%);
  }
}

@keyframes tiembla {
  0% {
    -webkit-transform: rotateZ(-5deg);
  }
  50% {
    -webkit-transform: rotateZ(0deg) scale(0.8);
  }
  100% {
    -webkit-transform: rotateZ(5deg);
  }
}

.fadeIn {
  animation: 0.5s fadeIn forwards;
}

.fadeOut {
  animation: 0.5s fadeOut forwards;
}
